@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
    width: 100vw;
}
header{
    display: block;
    background-color: #e77575;
    width: 100%;
    height: 50px;
}
h1 {
    display: inline-block;
}
nav {
    float: right;
    margin-top: 10px;
}
nav > a {
    text-decoration: none;
    padding: 35px;
    color: black;
}
.content1 p{
    padding-top: 300px;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
}
.content1 h2{
    background-color: aquamarine;
    color: rgb(255, 0, 0);
    text-align: center;
}
.content1 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 690px;
    background-image: url(/img/maquiadora-1.0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}