@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #2A61DB;
}
header{
    display: block;
    background-color: #2A61DB;
    width: 100%;
    height: 50px;
}
h1 {
    font-family: 'Reenie Beanie', cursive;
    display: inline-block;
    font-size: 40px;
    color: #ffffff;
}
nav {
    float: right;
    margin-top: 10px;
}
nav > a {
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}
.content1 p{
    padding-top: 400px;
    text-align: center;
    color: #ffffff;
    font-weight:900;
}
.content1 h2{
    background-color: #ffffff49;
    color: #ffffff;
    text-align: center;
    font-size: 60px;
}
.content1 {
    width: 100%;
    height: 690px;
    background-image: url(/img/img-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.content2 {
    height: 503px;
}
#ctd {
    margin-top: 100px;
    margin-left: 2%;
    display: inline-block;
    background-color: #7ea7ff;
    color: #ffffff;
    width: 30%;
    height: 300px;
    border-radius: 20px;
    box-shadow: 05px 05px 10px #ffffff;
}